<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <a class="navbar-brand" href="#"><img src="assets/img/2.png" style="height: 50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-link" style="color:grey;font-size:90%;" (click)="NavigateToKafkaHomePage()" >About Kafka </a>
          
        </li>
        
        <li class="nav-item">
          <a class="navbar-link" style="color:grey;font-size:90%;" (click)="NavigateToConnection()">Connect</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="w3-content" style="max-width:1500px;margin-top:46px">
    <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
      <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      </div>
    </div>
  </div>
<div class="container" >
    <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase" style="color:black;">Kafka</h1>
        <p class="w3-justify">
            <p class="w3-justify">&#9642; Building operational simplicity into distributed systems, especially for nuanced behaviors, is
              somewhat of an art and often best achieved after gathering production experience. Apache Kafka's popularity can be attributed in large part to its design and operational simplicity. As we add more knobs and features,
              we try to go back and rethink ways of simplifying complex behaviors.</p>
              <br/>
            <p class="w3-justify">&#9642; One of the more nuanced features in Apache Kafka is its replication protocol. Tuning Kafka replication to work automatically, for varying size workloads
                on a single cluster, is somewhat tricky today. One of the challenges that make this particularly difficult is knowing how to prevent replicas
                from jumping in and out of the in sync replica list (aka ISR). What this means from a user’s perspective is that if a producer sends a batch
                of messages “large enough”, then this can cause several alerts to go off on the Kafka brokers. These alerts indicate that some topics
                are “under replicated” which means that data is not being replicated to enough number of brokers thereby increasing the probability of data
                loss should those replicas fail or die. So it is important that the “under replicated” partition count be monitored closely in a Kafka cluster.</p>
                <br/>
            <p class="w3-justify">&#9642; However, this alert should go off only when some broker fails, slows down or pauses and not when the producer writes data of varying sizes.
                This unexpected behavior and the false alarms are the source of a lot of manual operational overhead and churn.
                In this post, I discuss the root cause of this behavior and how we arrived at the fix.</p>
        <button type="button" class="btn btn-primary" (click)="NavigateToConnection()">Let's Start</button>
    </div>
  </div>
  